<!-- <h2>Listings page</h2> -->

<!-- {{ vm }} -->

<div class="container">
<table class="table table-striped">
        <thead>
          <tr id="headers">
            <!-- <th>#</th> -->
            <th>City</th>
            <th>Sq ft</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="listing in vm.listings.list">
            <!-- <th scope="row">1</th> -->
            <!-- <td>{{ rental }}</td> -->
            <td>{{ listing.city}}</td>            
            <td>{{ listing.sqft}}</td>
            <td>${{ listing.cost }}</td>          
          </tr>    
        </tbody>
      </table>
    </div>