<!-- <h2>Listings page</h2> -->

<!-- {{ vm }} -->
<div class="container" id="listings">
  <img class="img-fluid" src="../views/imgs/anthony-delanoix-16765.jpg" alt="Clay pot on roof overlooking water">
</div><!--/listings -->


<div class="container">
    <table class="table table-striped">
        <thead>
          <tr id="headers">
            <!-- <th>#</th> -->
            <th>City</th>
            <th>Sq ft</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="listing in vm.listings.list">
            <!-- <th scope="row">1</th> -->
            <!-- <td>{{ rental }}</td> -->
            <td>{{ listing.city}}</td>            
            <td>{{ listing.sqft}}</td>
            <td>${{ listing.cost }}</td>          
          </tr>    
        </tbody>
     </table>
    </div><!--/container -->

    <footer id="footer"> Photo Credit <a href="https://unsplash.com/@anthonydelanoix">Anthony DELANOIX</a> on Unsplash</footer>
    