<!-- <h2>For Rent</h2> -->

<div class="container" id="rentals">
   <img class="img-fluid" src="../views/imgs/eugene-quek-111785.jpg" alt="Camper under the stars">
</div><!--/rentals -->
      
<div class="container">
   <table class="table table-striped">
        <thead>
          <tr id="headers">
            <!-- <th>#</th> -->
            <th>City</th>
            <th>Sq ft</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rental in vm.rentals.list">
            <!-- <th scope="row">1</th> -->
            <!-- <td>{{ rental }}</td> -->
            <td>{{ rental.city }}</td>
            <td>{{ rental.sqft }}</td>            
            <td>${{ rental.rent }}</td>  
          </tr>
        </tbody>
      </table>
    </div><!--/container -->

    <footer id="footer"> Photo Credit <a href="https://unsplash.com/@eqpanda">Eugene Quek</a> on Unsplash</footer>
  