<h2>For Rent</h2>

<div>
        <table  >
             <tr>
                 <th>For Rent</th>
                 <th>Sq Ft</th>
                 <th>City</th>  
             </tr>
             <tr ng-repeat="rental in vm.rentals.list">
                 <!-- <td>{{ listing }}</td> -->
                 <td>${{ rental.rent }}</td>
                 <td>{{ rental.sqft }}</td>
                 <td>{{ rental.city}}</td>
                 
                 
                 
             </tr>
         </table>
     </div>